@import './layout.scss';

.arrow {
	font-size: 2rem;
	opacity: 0.1;
	color: white;
}
.arrow:hover {
	color: #663399;
	opacity: 0.5;
}

@media screen and (min-width: 400px) {
	.arrow {
		font-size: 3rem;
	}
}

@media screen and (min-width: 700px) {
	.arrow {
		font-size: 3.5rem;
	}
}
@media screen and (min-width: 1000px) {
	.arrow {
		font-size: 10rem;
	}
}
