@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body::-webkit-scrollbar {
	display: none; // Safari and Chrome
}

body {
	background-image: url('../images/website-background.png');
	color: white;
	font-family: "Oswald";
	text-align: center;
	-ms-overflow-style: none; // IE 10+
	scrollbar-width: none; // Firefox
}

.container {
	height: 100vh;
	display: grid;
}

.overlay {
	font-size: 10vmax;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.content {
	div {
		padding: 1em;
		display: flex;
		flex-flow: column nowrap;
		align-content: center;
		justify-content: center;
	}
	display: flex;
	align-content: center;
	justify-content: center;
}

.content,
.overlay {
	grid-area: 1 / 1;
}

img {
	align-self: center;
	max-width: 80vw;
	max-height: 50vh;
}
